<div class="mt-4">
    <div class="row">

        {{#each projects}}
        <div class="col-sm-6 col-lg-4">
            <div class="card card-project-item">
                <a href="/projects/{{this.slug}}">
                    <img class="card-img-top" src="{{this.image}}" alt="{{this.name}}">
                </a>

                <div class="card-body">
                    <a href="/projects/{{this.slug}}">
                        <h5 class="card-title">{{this.name}}</h5> 
                    </a>
                    <p class="card-text">{{this.address}}</p>
                    <a href="/projects/{{this.slug}}">
                        <h6 class="card-title">{{this.investor}}</h6>
                    </a>
                     <p class="card-text">Diện tích: {{this.area}}</p>
                     <p class="card-text">Trạng thái: {{this.status}}</p>
                     <p class="card-text">Tổng giá trị: {{this.total_price}}</p>
                     

                </div>
            </div>
        </div>
        {{/each}}





    </div>
</div>