<div class="mt-4">
    <h3>Cập nhật dự án</h3>

    <form class="mt-4" method="POST" action="/projects/{{project._id}}?_method=PUT">
        <div class="form-group">
            <label for="name">Tên dự án</label>
            <input type="text" class="form-control" value="{{project.name}}" id="name" name="name">
        </div>
        <div class="form-group">
            <label for="address">Địa chỉ</label>
            <input type="text" class="form-control" value="{{project.address}}" id="address" name="address">
        </div>
        <div class="form-group">
            <label for="image">Hình ảnh</label>
            <input type="text" class="form-control" value="{{project.image}}" id="image" name="image">
        </div>
        <div class="form-group">
            <label for="area">Diện tích</label>
            <input type="text" class="form-control" value="{{project.area}}" id="area" name="area">
        </div>
        <div class="form-group">
            <label for="building_density">Mật độ xây dựng</label>
            <input type="text" class="form-control" value="{{project.building_density}}" id="building_density" name="building_density">
        </div>
        <div class="form-group">
            <label for="investor">Chủ đầu tư</label>
            <input type="text" class="form-control" value="{{project.investor}}" id="investor" name="investor">
        </div>
        <div class="form-group">
            <label for="status">Trạng thái</label>
            <input type="text" class="form-control" value="{{project.status}}" id="status" name="status">
        </div>
        <div class="form-group">
            <label for="total_price">Tổng giá trị</label>
            <input type="text" class="form-control" value="{{project.total_price}}" id="total_price" name="total_price">
        </div>
        <div class="form-group">
            <label for="price_m2">Giá/m2</label>
            <input type="text" class="form-control" value="{{project.price_m2}}" id="price_m2" name="price_m2">
        </div>
        
        <button type="submit" class="btn btn-primary">Lưu lại</button>
    </form>
</div>